[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
python-dotenv = "*"
psycopg2-binary = "*"
langchain-community = "*"
transformers = "*"
torch = "*"
rank-bm25 = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"